<form class="form-horizontal filter-item">
  <div class="form-group">
    <input type="checkbox" id={{checkboxName}} name="checkbox-patient-age" class="css-checkbox" checked={{checkboxChecked}} {{action 'toggle' on='change'}}>
    <label for={{checkboxName}} class="css-label css-label-box checkbox-label">
      {{#if active}}
        Patient age
      {{else}}
        Patient Age
      {{/if}}
    </label>
  </div>

  <div class="form-group">
    {{#if active}}
      <div class="selected-filter-details">
        {{!-- <span class="pane-inner-label">in</span>
        <span class="pane-select">
          {{select-fx options=timePeriods value=selectedTimePeriod onChange=(action "selectTimePeriod")}}
        </span>
        <span class="pane-inner-label">is</span>
        <span class="pane-select">
          {{select-fx options=comparators value=selectedComparator onChange=(action "selectComparator")}}
        </span> --}}
        <span class="pane-inner-label">in years is between</span>
        <span class="pane-input">
          <input type="text" value={{lowValue}} class="input-control age" onchange={{action "updateValue" "lowValue"}}>
        </span>
        {{#if highValueExists}}
          <span class="pane-inner-label">and</span>
          <span class="pane-input">
            <input type="text" value={{highValue}} class="input-control age" onchange={{action "updateValue" "highValue"}}>
          </span>
        {{/if}}
      </div>
    {{/if}}
  </div>
</form>
