<form class="form-horizontal filter-item">
  <div class="form-group">
    {{input type="checkbox" name=active checked=item.active id="checkbox-patient-age" class="css-checkbox"}}
    <label for="checkbox-patient-age" class="css-label css-label-box checkbox-label">
      {{#if item.active}}
      Patient age is
      {{else}}
      Patient Age
      {{/if}}
    </label>
  </div>

  <div class="form-group">
    {{#if item.active}}
      <div class="row selected-filter-details">
        <!-- <div class="col-xs-1">in</div>
        <div class="col-xs-3">
          {{view "select" class="input-control" content=item.parameter.timePeriod.value}}
        </div>
        <div class="col-xs-1">is</div>
        <div class="col-xs-4">
          {{input class="input-control" value=item.parameter.comparator.value}}
        </div>
        <div class="col-xs-1">
          {{input class="input-control" value=item.parameter.valueRange.low.value}}
        </div>
        <div class="col-xs-1">and</div>
        <div class="col-xs-1">
          {{input class="input-control" value=item.parameter.valueRange.high.value}}
        </div> -->


        <div class="col-xs-6">
          <label class="css-label radio-label" for="male"> between </label>
          {{input class="input-control" value=item.parameter.valueRange.low.value}}
        </div>
        <div class="col-xs-6">
          <label class="css-label radio-label" for="male"> and </label>
          {{input class="input-control" value=item.parameter.valueRange.high.value}}
        </div>
      </div>
    {{/if}}
  </div>
</form>
