<div class="modal-dialog modal-center">
  <div class="modal-content">
    <form class={{formClass}} {{action 'submit' on='submit'}}>
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">
          <span aria-hidden="true">
            &times;
          </span>
          <span class="sr-only">
            Close
          </span>
        </button>
        <h4 class="modal-title">
          {{title}}
        </h4>
      </div>
      <div class="modal-body">
        {{yield}}
      </div>
      <div class="modal-footer">
        {{#if displayCloseBtn}}
          <button class="btn btn-default" type="button" data-dismiss="modal">
            {{okBtnTitle}}
          </button>
        {{/if}}
        {{#if displaySubmitBtn}}
          <button class="btn {{submitBtnClass}}" disabled={{disableSubmitBtn}} type="submit">
            {{submitBtnTitle}}
          </button>
        {{/if}}
      </div>
    </form>
  </div>
</div>