<form class="form-horizontal filter-item">
  <div class="form-group">
    <input type="checkbox" id={{checkboxName}} name="checkbox-condition-code" class="css-checkbox" checked={{checkboxChecked}} {{action 'toggle' on='change'}}>
    <label for={{checkboxName}} class="css-label css-label-box checkbox-label">
      {{#if active}}
        Condition code
      {{else}}
        Condition Code
      {{/if}}
    </label>
  </div>

  <div class="form-group">
    {{#if active}}
      <div class="selected-filter-details">
        <span class="pane-inner-label">for system</span>
        <span class="pane-select">
          {{select-fx options=codingSystems value=selectedCodingSystem valuePath="system" onChange="selectCodingSystem"}}
        </span>
        <span class="pane-inner-label">is</span>
        <span class="pane-input">
          {{input class="input-control condition typeahead" placeholder="condition code" value=codeValue}}
        </span>
      </div>
    {{/if}}
  </div>
</form>
