<form class="form-horizontal filter-item">
  <div class="form-group">
    <input type="checkbox" id={{checkboxName}} name="checkbox-encounter-code" class="css-checkbox" checked={{checkboxChecked}} {{action 'toggle' on='change'}}>
    <label for={{checkboxName}} class="css-label css-label-box checkbox-label">
      {{#if active}}
        Encounter code is
      {{else}}
        Encounter Code
      {{/if}}
    </label>
  </div>

  <div class="form-group">
    {{#if active}}
      <div class="selected-filter-details">
        {{input classNames="input-control encounter" placeholder="encounter code" value=encounterValues}}
      </div>
    {{/if}}
  </div>
</form>
