<form class="form-horizontal filter-item">
  <div class="form-group">
    <input type="checkbox" id={{checkboxName}} name="checkbox-encounter-code" class="css-checkbox" checked={{checkboxChecked}} {{action 'toggle' on='change'}}>
    <label for={{checkboxName}} class="css-label css-label-box checkbox-label">
      {{#if active}}
        Encounter code
      {{else}}
        Encounter Code
      {{/if}}
    </label>
  </div>

  <div class="form-group">
    {{#if active}}
      {{#each characteristic.valueCodeableConcept.coding as |coding index|}}
        <div class="selected-filter-details selected-filter-details-spaced">
          <span class="pane-inner-label">{{if (gt index 0) 'or ' }}for system</span>
          <span class="pane-select">
            {{select-fx options=codingSystems value="coding.system" valuePath="system" onChange=(action "selectCodingSystem" coding)}}
          </span>
          <span class="pane-inner-label">is</span>
          {{coding-typeahead
            coding=coding
            type="encounter"
            placeholder="encounter code"}}
          <button type="button" class="close" onclick={{action "removeCode" characteristic.valueCodeableConcept coding}} aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times"></i></span>
          </button>
        </div>
      {{/each}}
      <div class="selected-filter-details">
        <span class="cursor-pointer" onclick={{action "addCode" characteristic.valueCodeableConcept}}><i class="fa fa-plus-circle"></i> Add new coding </span>
      </div>
    {{/if}}
  </div>
</form>
