<div class="row">
  <div class="count col-sm-4">
    <span class="count-value" id="patient-count">
      {{#if loading}}
        {{ember-spinner config='small' top='30%'}}
        &nbsp;
      {{else}}
        {{patientCount}}
      {{/if}}
    </span><br/>
    <span>patients</span>
  </div>

  <div class="count col-sm-4">
    <span class="count-value" id="condition-count">
      {{#if loading}}
        {{ember-spinner config='small' top='30%'}}
        &nbsp;
      {{else}}
        {{conditionCount}}
      {{/if}}
    </span><br/>
    <span>conditions</span>
  </div>

  <div class="count col-sm-4">
    <span class="count-value" id="encounter-count">
      {{#if loading}}
        {{ember-spinner config='small' top='30%'}}
        &nbsp;
      {{else}}
        {{encounterCount}}
      {{/if}}
    </span><br/>
    <span>encounters</span>
  </div>
  {{!-- <div class="time-selection col-sm-3">
    <span>in the last</span><br/>
    <span class="time-period">{{timeSpan}}</span>
  </div> --}}
</div>