<form class="form-horizontal">
  <div class="form-group">
    {{input type="checkbox" name=active checked=item.active id="checkbox-patient-gender" class="css-checkbox"}}
    <label for="checkbox-patient-gender" class="css-label css-label-box checkbox-label">Patient Gender</label>
  </div>

  <div class="form-group">
    {{#if item.active}}
      <div class="row">
        <span class="col-sm-1">is</span>
        <span class="col-sm-2">
          {{input type="radio" class="input-control css-checkbox" id="male" name=item.parameter.valueString value="M"}}
          <label class="css-label css-label-circle radio-label" for="male">Male</label>
        </span>
        <span class="col-sm-2">
          {{input type="radio" class="input-control css-checkbox" id="female" name=item.parameter.valueString value="F"}}
          <label class="css-label css-label-circle radio-label" for="female">Female</label>
        </span>
        <span class="col-sm-2">
          {{input type="radio" class="input-control css-checkbox" id="other" name=item.parameter.valueString value="O"}}
          <label class="css-label css-label-circle radio-label" for="other">Other</label>
        </span>
        <span class="col-sm-2">
          {{input type="radio" class="input-control css-checkbox" id="unknown" name=item.parameter.valueString value="U"}}
          <label class="css-label css-label-circle radio-label" for="unknown">Unknown</label>
        </span>
      </div>
    {{/if}}
  </div>
</form>
