<form class="form-horizontal filter-item">
  <div class="form-group">
    <input type="checkbox" id={{checkboxName}} name="checkbox-patient-gender" class="css-checkbox" checked={{checkboxChecked}} {{action 'toggle' on='change'}}>
    <label for={{checkboxName}} class="css-label css-label-box checkbox-label">
      {{#if active}}
        Patient gender is
      {{else}}
        Patient Gender
      {{/if}}
    </label>
  </div>

  <div class="form-group">
    {{#if active}}
      <div class="row selected-filter-details">
        <div class="col-md-3">
          {{radio-button radioClass="input-control css-checkbox" radioId="male" groupValue=genderValue value="male"}}
          <label class="css-label css-label-circle radio-label" for="male">male</label>
        </div>
        <div class="col-md-3">
          {{radio-button radioClass="input-control css-checkbox" radioId="female" groupValue=genderValue value="female"}}
          <label class="css-label css-label-circle radio-label" for="female">female</label>
        </div>
        <div class="col-md-3">
          {{radio-button radioClass="input-control css-checkbox" radioId="other" groupValue=genderValue value="other"}}
          <label class="css-label css-label-circle radio-label" for="other">other</label>
        </div>
        <div class="col-md-3">
          {{radio-button radioClass="input-control css-checkbox" radioId="unknown" groupValue=genderValue value="unknown"}}
          <label class="css-label css-label-circle radio-label" for="unknown">unknown</label>
        </div>
      </div>
    {{/if}}
  </div>
</form>
