<form class="form-horizontal">
  <div class="form-group">
    {{input type="checkbox" name=active checked=item.active id="checkbox-patient-gender" class="css-checkbox"}}
    <label for="checkbox-patient-gender" class="css-label checkbox-title">Patient Gender</label>
  </div>
  <div class="form-group">
    {{#if item.active}}
      <span class="col-sm-1">is</span>
      <span class="col-sm-2"><label>{{radio-button class="input-control" name=item.parameter.valueString value="M"}} Male</label></span>
      <span class="col-sm-2"><label>{{radio-button class="input-control" name=item.parameter.valueString value="F"}} Female</label></span>
      <span class="col-sm-2"><label>{{radio-button class="input-control" name=item.parameter.valueString value="O"}} Other</label></span>
      <span class="col-sm-2"><label>{{radio-button class="input-control" name=item.parameter.valueString value="U"}} Unknown</label></span>
    {{/if}}
  </div>
</form>
