<div class="media">
  <div class="media-left media-middle">
    {{#if patientPhoto}}
      {{patientPhoto}}
    {{else}}
      <i class="fa fa-user media-object"></i>
    {{/if}}
  </div>
  <div class="media-body media-middle">
    <div class="row">
      <div class="col-xs-6">
        <div class="patient-name">
          {{patient.fullName}}
          {{#if patient.notifications.count}}
            <span class="badge">{{patient.notifications.count}}</span>
          {{/if}}
        </div>

        <span class="patient-age">
          <i class={{ageIconClassName}}></i>
          {{patient.computedAge}} yrs
        </span>

        <span class="patient-gender">
          <i class="fa {{genderIconClassName}}"></i>
          {{patient.computedGender}}
        </span>

        {{!-- <span class="patient-location">
          <i class="fa fa-map-marker"></i>
          {{patient.location}}
        </span> --}}

        {{#if huddle}}
          <span class="patient-next-huddle">
            {{huddle-reason-icon patient=patient huddle=huddle}}
            {{moment-format huddle.date 'll'}}
            {{huddle-discussed-icon patient=patient huddle=huddle}}
          </span>
        {{/if}}
      </div>

      <div class="col-xs-5 patient-risk-chart">
        {{#if hasRisks}}
          {{patient-risk-chart chartData=risksWithBirthdayStart selectedRisk=selectedRisk setSelectedRisk=attrs.setSelectedRisk}}
        {{/if}}
      </div>

      <div class="col-xs-1">
        {{#if computedRisk}}
          <div class="patient-risk">
            {{computedRisk}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
