<div class="panel patient-stats">
  <div class="panel-heading-alt">
    <div class="panel-title">
      <i class="fa fa-hospital-o fa-fw"></i>
      Appointments ({{patient.futureAppointments.length}})
    </div>
  </div>
  <div class="panel-body">
    <ul>
      {{#each appointment in patient.futureAppointments}}
        <li>{{appointment.startDate}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="panel-heading-alt">
    <div class="panel-title">
      <i class="fa fa-user-md fa-fw"></i>
      Inverventions (2)
    </div>
  </div>
  <div class="panel-body">
    {{!-- TODO --}}
  </div>

  <div class="panel-heading-alt">
    <div class="panel-title">
      <i class="icon-med-clipboard"></i>
      Conditions ({{patient.activeConditions.length}})
    </div>
  </div>
  <div class="panel-body">
    <ul>
    {{#each condition in patient.activeConditions}}
      {{#if condition.code}}
        <li>{{condition.text}}</li>
      {{/if}}
    {{/each}}
    </ul>
  </div>

  <div class="panel-heading-alt">
    <div class="panel-title">
      <i class="fa fa-pagelines fa-fw"></i>
      Allergies (2)
    </div>
  </div>
  <div class="panel-body">
    {{!-- TODO --}}
  </div>

  <div class="panel-heading-alt">
    <div class="panel-title">
      <i class="icon-medication"></i>
      Medications ({{patient.activeMedications.length}})
    </div>
  </div>
  <div class="panel-body">
    {{#each medication in patient.activeMedications}}
      {{#if medication.text}}
        <li>{{medication.text}}</li>
      {{/if}}
    {{/each}}
  </div>

</div>
