{{!------------------------- PATIENT SUMMARY --------------------------------}}

<div class="col-reset">
  {{patient-summary patientPhoto=patientPhoto patient=patient}}
</div>

{{!------------------------- PATIENT STATS ----------------------------------}}

<div class="col-lg-2 col-sm-3 col-reset">
  {{patient-stats patient=patient}}
</div>

<div class="col-lg-10 col-sm-9">
  <div class="row">

    {{!--------------------- ASTER PLOT -------------------------------------}}
    <div class="col-lg-6">
      <div class="col-lg-12 col-md-6">
        {{aster-plot-chart patient=patient data=slices selectedCategory=selectedCategory}}
      </div>

      {{!------------------- CATEGORY DETAILS -------------------------------}}

      <div class="col-lg-12 col-md-6">
        {{#if selectedCategory}}
          {{category-details selectedCategory=selectedCategory}}
        {{/if}}
      </div>
    </div>

    {{!--------------------- PATIENT TIMELINE -------------------------------}}

    <div class="col-lg-6 col-md-12">
      {{patient-timeline patient=patient}}
    </div>
  </div>
</div>
