<div {{action "selectPatient"}} class="patient {{if active 'active'}}">
  <div class="patient-info">
    <div class="patient-name">
      {{patient.fullName}}
      {{#if patient.notifications.count}}
        <span class="badge">{{patient.notifications.count}}</span>
      {{/if}}
    </div>
    <div class="patient-age-gender">
      <span class="patient-age">
        <i class={{ageIconClassName}}></i>
        {{patient.computedAge}} yrs
      </span>
      <span class="patient-gender">
        <i class="fa {{genderIconClassName}}"></i>
        {{patient.computedGender}}
      </span>
    </div>
    <div class="patient-risk-bar-container">
      <div class="patient-risk-bar">
        {{#if inputRisk}}
          <span class="patient-risk">{{computedRisk}}</span>
        {{/if}}
      </div>
    </div>
  </div>
</div>
