<div class="panel-heading">
  <div class="collapse-panel-title">
    <a data-toggle="collapse" href="#appointments" aria-expanded="true" aria-controls="collapseOne">
      <i class="fa fa-hospital-o fa-fw"></i>
      Appointments ({{patient.futureAppointments.length}})
      <i class="fa fa-chevron-down pull-right"></i>
    </a>
  </div>
</div>
<div class="panel-body">
  <div class="collapse in" id="appointments">
    <ul>
      {{#each patient.futureAppointments as |appointment|}}
        <li>{{appointment.startDate}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="panel-heading">
  <div class="collapse-panel-title">
    <a data-toggle="collapse" href="#interventions" aria-expanded="true" aria-controls="collapseOne">
      <i class="fa fa-user-md fa-fw"></i>
      Inverventions (0)
      <i class="fa fa-chevron-down pull-right"></i>
    </a>
  </div>
</div>
<div class="panel-body">
  <div class="collapse in" id="interventions">
    {{!-- TODO --}}
    <div class="add-new-filter-lg">
      <button type="button" class="btn btn-link" onclick={{action attrs.openAddInterventionModal}}>
        <i class="fa fa-plus-circle"></i> add new
      </button>
    </div>
  </div>
</div>

<div class="panel-heading">
  <div class="collapse-panel-title">
    <a data-toggle="collapse" href="#conditions" aria-expanded="true" aria-controls="collapseOne">
      <i class="icon-med-clipboard"></i>
      Conditions ({{patient.activeConditions.length}})
      <i class="fa fa-chevron-down pull-right"></i>
    </a>
  </div>
</div>
<div class="panel-body">
  <div class="collapse in" id="conditions">
    <ul>
      {{#each patient.activeConditions as |condition|}}
        {{#if condition.code}}
          <li>{{condition.code.displayText}}</li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="panel-heading">
  <div class="collapse-panel-title">
    <a data-toggle="collapse" href="#medications" aria-expanded="true" aria-controls="collapseOne">
      <i class="icon-medication"></i>
      Medications ({{patient.activeMedications.length}})
      <i class="fa fa-chevron-down pull-right"></i>
    </a>
  </div>
</div>
<div class="panel-body">
  <div class="collapse in" id="medications">
    <ul>
      {{#each patient.activeMedications as |medication|}}
        {{#if medication.displayText}}
          <li>{{medication.displayText}}</li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="panel-heading">
  <div class="collapse-panel-title">
    <a data-toggle="collapse" href="#allergies" aria-expanded="true" aria-controls="collapseOne">
      <i class="fa fa-pagelines fa-fw"></i>
      Allergies (0)
      <i class="fa fa-chevron-down pull-right"></i>
    </a>
  </div>
</div>
<div class="panel-body">
  <div class="collapse in" id="allergies">
    {{!-- TODO --}}
  </div>
</div>
