<div class="patient-results">
  <div class="row">
    <div class="col-xs-2 patient-photo">
      {{#if patientPhoto}}
        {{patient.photo}}
      {{else}}
        <i class="fa fa-user"></i>
      {{/if}}
    </div>

    <div class="col-xs-10 patient-risk-info">
      {{vertical-bar-chart data=patient.risks height=100}}

      <div class="patient-risk">
        {{patient.computedRisk}}
      </div>

      <div class="patient-info">
        <div class="patient-name">{{patient.fullName}}</div>
        <div class="patient-age-gender">
          <span class="patient-age">
            <i class="fa fa-birthday-cake"></i>
            {{patient.computedAge}} yrs
          </span>
          <span class="patient-gender">
            <i {{bind-attr class=":fa patient.isMale:fa-male patient.isFemale:fa-female patient.isOtherGender:fa-user"}}></i>
            {{patient.computedGender}}
          </span>
        </div>
        <div class="patient-location">@{{patient.patientLocation}}</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-2 patient-stats">
    <div class="panel">
      <div class="panel-heading-alt">
        <div class="panel-title">
          <i class="fa fa-hospital-o fa-fw"></i>
          Appointments (1)
        </div>
      </div>
      <div class="panel-body">

      </div>

      <div class="panel-heading-alt">
        <div class="panel-title">
          <i class="fa fa-user-md fa-fw"></i>
          Inverventions (2)
        </div>
      </div>
      <div class="panel-body">

      </div>

      <div class="panel-heading-alt">
        <div class="panel-title">
          <i class="icon-med-clipboard"></i>
          Conditions ({{patient.conditions.length}})
        </div>
      </div>
      <div class="panel-body">
        <ul>
        {{#each condition in patient.conditions}}
          {{#if condition.code}}
          <li>{{condition.text}}</li>
          {{/if}}
        {{/each}}
        </ul>
      </div>

      <div class="panel-heading-alt">
        <div class="panel-title">
          <i class="fa fa-pagelines fa-fw"></i>
          Allergies (2)
        </div>
      </div>
      <div class="panel-body">

      </div>

      <div class="panel-heading-alt">
        <div class="panel-title">
          <i class="icon-medication"></i>
          Medications ({{patient.medications.length}})
        </div>
      </div>
      <div class="panel-body">
        {{#each medication in patient.medications}}
          {{#if medication.medication}}
          <li>{{medication.medication.text}}</li>
          {{/if}}
        {{/each}}
      </div>

    </div>
  </div>

  <div class="col-sm-5">
    <div class="completed-interventions">
      <span class="completed-interventions-value">19</span>
      <span class="completed-interventions-stars">
        <i class="fa fa-star fa-fw"></i>
        <i class="fa fa-star fa-fw"></i>
        <i class="fa fa-star-o fa-fw"></i><br/>
      </span>
      <span class="completed-interventions-text">
        Completed Interventions
      </span>
    </div>

    <div class="aster-plot">
      {{aster-plot-chart patient=patient data=patient.categoryDisplay selectedCategory=selectedCategory}}
    </div>

    {{#if selectedCategory}}
      <div class="category-details">
        <div class="category-name">
          {{selectedCategory.title}}
        </div>

        <div class="category-stat">
          <div class="col-sm-3">
            Risk:
          </div>
          <div class="col-sm-1 category-stat-value">
            {{selectedCategory.risk}}
          </div>
          <div class="col-sm-7">
            {{horizontal-bar-chart max=6 width=200 height=5 value=selectedCategory.risk}}
          </div>
        </div>

        <div class="category-stat">
          <div class="col-sm-3">
            Weight:
          </div>
          <div class="col-sm-1 category-stat-value">
            {{selectedCategory.weight}}
          </div>
          <div class="col-sm-7">
            {{horizontal-bar-chart max=3 width=200 height=5 value=selectedCategory.weight}}
          </div>
        </div>
      </div>
    {{/if}}
  </div>

  <div class="col-sm-5">
    <div class="timeline">
      <div class="timeline-icon-search">
        <i class="fa fa-user timeline-icon"></i>

        <div class="row timeline-search">
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
              {{input type="text" class="form-control" value=searchTimeline placeholder="Search timeline..."}}
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-events">
        <ul>
          {{#each event in patient.events}}
            <li>{{event.type}} - {{event.text}} ({{event.startDate}})</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
