<h1>{{patient.fullName}}</h1>
<div class="row">
  <div class="col-sm-12">
    {{vertical-bar-chart data=randomDataLong height=200}}
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
      {{aster-plot-chart data=randomRisk}}
  </div>
  <div class="col-sm-4">
      {{horizontal-bar-chart data=randomData}}
  </div>
  <div class="col-sm-3">
      {{vertical-line-chart data=randomData}}
  </div>
  <div class="col-sm-3">
    {{vertical-bar-chart data=randomData bandPadding=0.1}}
  </div>
</div>

