<div class="timeline-event {{eventClass}}">
  <div class="timeline-event-text">
    {{event.displayText}}
    
  </div>

  <div class="timeline-event-start-date">
    {{#if event.event.startDate}}
      {{moment-format event.event.startDate 'lll'}} 
      {{#if event.isEnd}}
        - {{moment-format event.event.endDate 'lll'}}
      {{/if}}
    {{else}}
      Unknown Date
    {{/if}}
  </div>

  <div class="timeline-event-icon">
    <i class="{{iconClass}}"></i>
  </div>

  <span class="pointer-bottom"></span>
  <span class="pointer-top"></span>
</div>
