<div class="container">
  <div class="title-panel row">
    <div class="title-text col-sm-4">Filter Builder</div>
    <div class="filter-counts col-sm-8">
      <div class="row">
        <div class="count col-sm-3">
          <span class="count-value" id="patient-count">
            {{content.instaCount.patients}}
          </span><br/>
          <span>patients</span>
        </div>
        <div class="count col-sm-3">
          <span class="count-value" id="condition-count">
            {{content.instaCount.conditions}}
          </span><br/>
          <span>conditions</span>
        </div>
        <div class="count col-sm-3">
          <span class="count-value" id="encounter-count">
            {{content.instaCount.encounters}}
          </span><br/>
          <span>encounters</span>
        </div>
        <div class="time-selection col-sm-3">
          <span>in the last</span><br/>
          <span class="time-period">year</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            Filter Type
          </div>
        </div>

        <div class="panel-body filter-types">
          {{#draggable-object content=patientObject}}
            <div class="filter-type">
              <div class="filter-type-icon">
                <i class="fa fa-user fa-fw"></i>
              </div>
              Patient
              <i class="fa fa-chevron-right filter-type-chevron"></i>
            </div>
          {{/draggable-object}}

          {{#draggable-object content=conditionObject}}
            <div class="filter-type">
              <div class="filter-type-icon">
                <i class="icon-med-clipboard"></i>
              </div>
              Condition
              <i class="fa fa-chevron-right filter-type-chevron"></i>
            </div>
          {{/draggable-object}}

          {{#draggable-object content=encounterObject}}
            <div class="filter-type">
              <div class="filter-type-icon">
                <i class="fa fa-hospital-o fa-fw"></i>
              </div>
              Encounter
              <i class="fa fa-chevron-right filter-type-chevron"></i>
            </div>
          {{/draggable-object}}
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            Filter Details
          </div>
        </div>

        <div class="filter-details panel-body">
          {{#draggable-object-target action="addPane" class="drop-area"}}
            {{#if hasFilterPane}}
              {{#each pane in model.panes}}
                {{render "filters/_pane" pane}}
              {{/each}}
              <div class="row save-new-filter">
                <div class="col-sm-4 col-sm-offset-4">
                  {{input type="text" value=filterName placeholder="name of filter"}}
                </div>
                <div class="col-sm-4">
                  <button class="btn btn-lg btn-primary" {{action "saveFilter"}}>Save Filter</button>
                </div>
              </div>
            {{else}}
              <span class="sub-text">
                No filters. Drag filter type here.
              </span>
            {{/if}}
          {{/draggable-object-target}}
        </div>
      </div>
    </div>
  </div>
</div>
