<div class="container">
  <div class="title-panel">
    <span class="title-text">Patients</span>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="panel">
      {{populations-list populations=content.populations}}

      <div class="panel-heading">
        <div class="collapse-panel-title">
          <a data-toggle="collapse" href="#choosePatient" aria-expanded="true" aria-controls="collapseOne">
            Choose Patient
            <i class="fa fa-chevron-down pull-right"></i>
          </a>
        </div>
      </div>

      <div class="panel-body patient-list">
        <div class="collapse in" id="choosePatient">
          <div class="patients-striped">
            {{#if selectedItems}}
              {{#each item in selectedItems}}
                {{#each patient in item.patients.patientids}}
                  {{patient-badge patient=patient currentPatient=currentPatient}}
                {{/each}}
              {{/each}}
            {{else}}
              {{#each patient in content.patients}}
                {{patient-badge patient=patient currentPatient=currentPatient}}
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">
          View Results
        </div>
      </div>

      <div class="panel-body patient-results">
        {{patient-viewer patient=currentPatient}}
      </div>
    </div>
  </div>
</div>
