<div class="container patients">
  <div class="title-panel">
    <span class="title-text">Patients</span>
  </div>

  <div class="row">
    <div class="col-sm-3 patient-populations-list">

      {{!------------------- CHOOSE POPULATIONS -----------------------------}}

      {{populations-list populations=model.populations}}

      {{!------------------- CHOOSE RISK ASSESSMENT -------------------------}}

      {{risk-assessment-list riskAssessments=riskAssessments currentAssessment=currentAssessment selectRiskAssessment="selectRiskAssessment"}}

      {{!------------------- CHOOSE PATIENT ---------------------------------}}

      <div class="panel patients-panel">
        <div class="panel-heading">
          <div class="collapse-panel-title">
            <a data-toggle="collapse" href="#choosePatient" aria-expanded="true" aria-controls="collapseOne">
              Choose Patient
              <i class="fa fa-chevron-down pull-right"></i>
            </a>
          </div>
        </div>

        <div class="panel-body patient-list">
          <div class="search search-panel">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
              {{input type="text" class="form-control" value=patientSearch placeholder="Search patients..."}}
            </div>
          </div>

          <div class="collapse in" id="choosePatient">
            <div class="patients-striped">
              {{#if selectedItems}}
                {{#each selectedItems as |item|}}
                  {{#each item.groupList.patientids as |patient|}}
                    {{patient-badge patient=patient selectPatient="selectPatient" currentAssessment=currentAssessment currentPatient=currentPatient}}
                  {{/each}}
                {{/each}}
              {{else}}
                {{#each filteredPatients as |patient|}}
                  {{patient-badge patient=patient selectPatient="selectPatient" currentAssessment=currentAssessment currentPatient=currentPatient}}
                {{/each}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!--------------------- PATIENT SUMMARY --------------------------------}}

    <div class="col-sm-9 patient-results">
      <div class="panel patient-panel">
        <div class="panel-heading">
          <div class="panel-title">
            View Results
          </div>
        </div>

        <div class="panel-body">
          {{#if currentPatient}}
            {{patient-viewer patient=currentPatient currentAssessment=currentAssessment selectedCategory=selectedCategory selectCategory="selectCategory"}}
          {{else}}
            <div class="select-patient sub-text">
              Please select patient.
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
