<div class="row">
  <div class="col-md-3 col-sm-4 patient-list-filters">
    {{#nested-panel panelName="Risk Assessment" panelId="chooseRiskAssessment"}}
      {{patient-search/risk-assessment riskAssessments=riskAssessments currentAssessment=currentAssessment selectRiskAssessment=(action "selectRiskAssessment")}}
    {{/nested-panel}}

    {{#nested-panel panelName="Filters" panelId="chooseFilters"}}
      {{patient-search/population-filter populations=populations selectedPopulation=selectedPopulation togglePopulation=(action "togglePopulation")}}

      {{!-- {{patient-search/risk-score lowValue=riskLowValue highValue=riskHighValue onChange=(action "setRiskScore")}} --}}

      {{patient-search/huddle-list huddles=model.huddles selectedHuddle=selectedHuddle selectHuddle=(action 'selectHuddle')}}
    {{/nested-panel}}

    {{#nested-panel panelName="Sort By" panelId="chooseSortBy"}}
      {{patient-search/sort-by sortBy=sortBy sortDescending=sortDescending selectSortBy=(action "selectSortBy")}}
    {{/nested-panel}}
  </div>

  <div class="col-md-9 col-sm-8 patient-list-results">
    <div class="panel patient-panel">
      <div class="panel-heading">
        <div class="collapse-panel-title">
          Patients ({{totalPatients}})

          <div class="pull-right">
            <div class="sliding-search-container">
              <i class="fa fa-search fa-fw"></i>
              <input
                type="search"
                class="sliding-search {{if patientSearch 'expanded'}}"
                onkeyup={{action (mut patientSearch) value="target.value"}}
                onchange={{action (mut patientSearch) value="target.value"}}>
            </div>
            <i class="fa fa-print fa-rounded cursor-pointer" title="Print Patient List" onclick={{action 'openPatientPrintList'}}></i>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="patient-list">
          {{#each populationPatients as |patient|}}
            {{patient-badge patient=patient huddles=(patient-huddles model.huddles patient) assessment=currentAssessment}}
          {{/each}}

          {{page-numbers content=content.patients action=(action 'setPage')}}
        </div>
      </div>
    </div>
  </div>
</div>
