<div class="container">
  <div class="title-panel">
    <span class="title-text">Patients</span>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="panel filter-type-panel">
      <div class="panel-heading">
        <div class="collapse-panel-title">
          <a data-toggle="collapse" href="#choosePopulation" aria-expanded="true" aria-controls="collapseOne">
            Choose Population
            <i class="fa fa-chevron-down pull-right"></i>
          </a>
        </div>
      </div>

      <div class="panel-body">
        <div class="collapse in" id="choosePopulation">
          <form class="form-horizontal">
            {{#each population in populations}}
              {{#if population.name}}
                <div class="form-group">
                  {{input type="checkbox" action="populationChecked" checked=population.selected elementId=population.checkboxId class="css-checkbox"}}
                  <label {{bind-attr for="population.checkboxId"}} class="css-label css-label-box checkbox-label">{{population.name}}</label>
                </div>
              {{/if}}
            {{/each}}
            <li>
              <a href="filters.new">add new</a>
            </li>
          </form>
        </div>
      </div>

      <div class="panel-heading">
        <div class="collapse-panel-title">
          <a data-toggle="collapse" href="#choosePatient" aria-expanded="true" aria-controls="collapseOne">
            Choose Patient
            <i class="fa fa-chevron-down pull-right"></i>
          </a>
        </div>
      </div>

      <div class="panel-body">
        <div class="collapse in" id="choosePatient">
          <ul class="filterList">
          {{#each patient in content}}
              <li>
                <span {{action "showPatient" patient}}>
                  <i class="fa fa-user"></i>
                  {{patient.fullName}}
                </span>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="panel filter-description-panel">
      <div class="panel-heading">
        <div class="panel-title">
          <h3>View Results</h3>
        </div>
      </div>

      <div class="panel-body patient-results">
        {{patient-viewer patient=currentPatient}}
      </div>
    </div>
  </div>
</div>

{{!-- <div class="container">
  <div class="title-panel">
    <span class="title-text">My Patients</span>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            <h3>
              {{input class="input-control" placeholder="search for patient" value=item.parameter.valueCodeableConcept.text}}
            </h3>
          </div>
        </div>

        <div class="panel-body">
          <ul class="filterList">
            {{#each patient in content}}
              <li>
                <h2>
                  {{#link-to 'patients.show' patient}}
                    <i class="fa fa-user"></i>
                    {{patient.fullName}}
                  {{/link-to}}
                </h2>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> --}}
