<div class="row patient-show">
  <div class="col-xs-12">
    <div class="patient-panel">
      <div class="patient-panel-header">
        {{#link-to 'patients.index'}}<i class="fa fa-chevron-left"></i>  Back to Patient List{{/link-to}}
        <div class="pull-right">
          {{#if huddlePatients}}
            {{!-- {{#link-to 'patients.show' prevPatient }}<i class="fa fa-chevron-left"></i>{{/link-to}} --}}
            <button {{action "changeCurrentPatientIndex" -1}}>prev</button>
            {{currentPatientIndex}} / {{huddleCount}}
            <button {{action "changeCurrentPatientIndex" 1}}>next</button>
            {{!-- {{#link-to 'patients.show' nextPatient invokeAction=(action 'nextPatient')}}<i class="fa fa-chevron-right"></i>{{/link-to}} --}}

          {{/if}}
        </div>
      </div>
      <div class="patient-panel-body clearfix">
        {{patient-viewer
          riskAssessments=riskAssessments
          patient=model
          currentAssessment=currentAssessment
          selectedCategory=selectedCategory
          huddles=huddles
          setRiskAssessment=(action "setRiskAssessment")
          selectCategory=(action "selectCategory")
          openAddInterventionModal=(action 'openAddInterventionModal')
          openAddHuddleModal=(action 'openAddHuddleModal')
          openReviewPatientModal=(action 'openReviewPatientModal')
          registerPatientViewer=(action 'registerPatientViewer')
          unregisterPatientViewer=(action 'unregisterPatientViewer')
          refreshHuddles=(action 'refreshHuddles')}}
      </div>
    </div>
  </div>
</div>

{{#if showAddInterventionModal}}
  {{add-intervention-modal onClose=(action 'hideAddInterventionModal')}}
{{/if}}

{{#if showAddHuddleModal}}
  {{add-to-huddle-modal patient=model defaultDate=defaultAddHuddleDate patientHuddles=huddles onClose=(action 'hideAddHuddleModal')}}
{{/if}}

{{#if showReviewPatientModal}}
  {{review-patient-modal patient=model huddle=reviewPatientHuddle onClose=(action 'hideReviewPatientModal')}}
{{/if}}
