<div class="title-panel">
  <h1>My Metrics</h1>
</div>

<div class="container">
  <div class="row panel">
    <div class="col-sm-2">
      <h2><i class="icon-med-clipboard"></i>Group by:</h2>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-circle" {{action 'setGrouping' 'day'}}>Day</button>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-circle btn-active" {{action 'setGrouping' 'week'}}>Week</button>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-circle" {{action 'setGrouping' 'month'}}>Month</button>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-circle" {{action 'setGrouping' 'year'}}>Year</button>
    </div>
    <div>
      <svg class="events">
        <path {{bind-attr d="barsPath"}}/>
      </svg>
    </div>
  </div>

  <div class="row panel">
      {{#each group in groupSet}}
        {{group.value}} at {{group.key}}
        <br>
      {{/each}}
  </div>
</div>
