{{#login-register}}
  <form {{action "authenticate" on="submit"}} class="form-login">
    <div class="form-group {{identificationClassNames}}">
      <label class="sr-only" for="login-email">Enter login email</label>
      <div class="input-addon left-addon">
        <i class="fa fa-envelope fa-fw left-addon-icon"></i>
        {{input type="email" value=identification classNames="form-control form-input" placeholder="email"}}

        {{form-validation-tooltip errors=errors.identification displayErrors=displayErrors}}
      </div>
    </div>

    <div class="form-group {{passwordClassNames}}">
      <label class="sr-only" for="login-password">Enter login password</label>
      <div class="input-addon left-addon">
        <i class="fa fa-lock fa-fw left-addon-icon"></i>
        {{input type="password" value=password autocomplete="off" classNames="form-control form-input" placeholder="password"}}

        {{form-validation-tooltip errors=errors.password displayErrors=displayErrors}}
      </div>
    </div>

    <div class="text-right">
      <button class="btn btn-lg btn-primary" type="submit" disabled={{disableLoginBtn}}>Log In</button>
    </div>
  </form>

  {{#if errorMessage}}
    <div class="alert alert-danger">
      <strong>Login failed:</strong> {{errorMessage}}
    </div>
  {{/if}}

  <div class="login-register-footer">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-1 col-md-6 col-md-offset-0">
        <span class="text-left">
          <a target="_blank" href={{mitreURL}}><span class="hidden-xs">The</span> MITRE <span class="hidden-xs">Corporation</span></a>
          <br>
          <a target="_blank" href={{interventionEnginURL}}>v {{currentVersion}}</a>
        </span>
      </div>
      <div class="col-xs-5 col-xs-offset-1 col-lg-6 col-lg-offset-0 login-register-footer-right">
        <span>
          {{#link-to "forgotPassword"}}Forgot Password{{/link-to}}<br>{{#link-to "register"}}Register{{/link-to}}
        </span>
      </div>
    </div>
  </div>
{{/login-register}}
