<div class="container login">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <div class="panel">
        <div class="panel-title login-logo visible-sm visible-xs">
          <img {{bind-attr src="logoLargeURL"}} alt="Intervention Engine" />
        </div>
        <div class="panel-body">
          <form {{action 'authenticate' on='submit'}}>
            <div class="form-group">
              <label class="sr-only" for="login-email">Enter login email</label>
              <div class="input-addon left-addon">
                <i class="fa fa-envelope fa-fw"></i>
                {{input type="text" value=identification autofocus="autofocus" classNames="form-control" placeholder="Username"}}
              </div>
            </div>

            <div class="form-group">
              <label class="sr-only" for="login-password">Enter login password</label>
              <div class="input-addon left-addon">
                <i class="fa fa-lock fa-fw"></i>
                {{input type="password" value=password autocomplete="off" classNames="form-control" placeholder="Password"}}
              </div>
            </div>

            <div class="text-right">
              <button class="btn" type="submit" {{bind-attr disabled=loggingIn}}>Log In</button>
            </div>
          </form>
        </div>

        <div class="login-footer">
          <div class="row">
            <div class="col-xs-4 col-xs-offset-1 col-md-6 col-md-offset-0">
              <span class="text-left">
                <a target="_blank" href="http://www.mitre.org/"><span class="hidden-xs">The</span> MITRE <span class="hidden-xs">Corporation</span></a>
                <br>
                v{{currentVersion}}
              </span>
            </div>
            <div class="col-xs-5 col-xs-offset-1 col-lg-6 col-lg-offset-0 login-footer-right">
              <span>
                {{#link-to "forgotPassword"}}Forgot Password{{/link-to}}<br>{{#link-to "register"}}Register{{/link-to}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
