{{#login-register}}
  <form {{action "register" on="submit"}} class="form-register">
    <div class="form-group">
      <label class="sr-only" for="login-email">Enter email</label>
      <div class="input-addon left-addon">
        <i class="fa fa-envelope fa-fw"></i>
          {{input type="text" value=identification autofocus="autofocus" classNames="form-control form-input" placeholder="email"}}
      </div>
    </div>

    <div class="form-group">
      <label class="sr-only" for="login-password">Enter password</label>
      <div class="input-addon left-addon">
        <i class="fa fa-lock fa-fw"></i>
          {{input type="password" value=password autocomplete="off" classNames="form-control form-input" placeholder="password"}}
      </div>
    </div>

    <div class="form-group">
      <label class="sr-only" for="login-password">Enter password confirmation</label>
      <div class="input-addon left-addon">
        <i class="fa fa-lock fa-fw"></i>
          {{input type="password" value=confirmation autocomplete="off" classNames="form-control form-input" placeholder="confirm password"}}
      </div>
    </div>

    <div class="text-right">
      <button class="btn btn-lg btn-primary" type="submit" disabled={{disableRegisterBtn}}>Register</button>
    </div>
  </form>

  {{#if errorMessage}}
    <div class="alert alert-danger">
      <strong>Registration failed:</strong> {{errorMessage}}
    </div>
  {{/if}}

  <div class="login-register-footer">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-1 col-md-6 col-md-offset-0"></div>
      <div class="col-xs-5 col-xs-offset-1 col-lg-6 col-lg-offset-0 login-register-footer-right">
        <span class="footer-register-login">
          {{#link-to "login"}}Log in{{/link-to}}
        </span>
      </div>
    </div>
  </div>
{{/login-register}}